:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 0.5rem;
}

#app {
  max-width: calc(800px + 3 * 1rem + 2rem);
  height: 100vh;
  min-width: 375px;
  min-height: 660px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  position: relative;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  grid-template-rows: repeat(4, minmax(80px, 1fr));
  max-width: calc(800px + 3 * 1rem);
  max-height: calc(600px + 2 * 1rem);
  gap: 1rem;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(4, minmax(80px, 1fr));
    grid-template-rows: repeat(3, minmax(80px, 1fr));
  }
}
.card__perspective {
  -webkit-perspective: 2000px;
  perspective: 2000px;
}

.card {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border: 1.5px solid transparent;
  border-radius: 20px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition-property: border, transform;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 193, 254);
  padding: 1rem;
  cursor: pointer;
}

@media (hover: hover) {
  .card:hover {
    border: 1.5px solid rgb(10, 87, 164);
  }
  .card:hover.card::before {
    border: 1.5px solid rgb(10, 87, 164);
  }
}
.card[data-state='front'] {
  transform: rotateY(-180deg);
}
.card[data-state='vuelta'] {
  transform: rotateY(360deg);
}
.card::before {
  content: '';
  pointer-events: none;
  position: absolute;
  width: calc(100% + (1.5px * 2));
  height: calc(100% + (1.5px * 2));
  top: -1.5px;
  left: -1.5px;
  border-radius: inherit;
  background-color: rgb(30, 225, 251);
  z-index: 10;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__img {
  pointer-events: none;
  display: block;
  max-width: 100%;
}

.btn {
  padding: 0;
  border: none;
  background-color: hsl(291, 65%, 60%);
  color: white;
  padding: 0.8em 1.2em;
  margin-top: 2.5rem;
  font-weight: 800;
  font-size: 1.4rem;
  border-radius: 8px;
  letter-spacing: 1px;
  transition-property: box-shadow, background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0 0 12px 0 hsla(291, 65%, 60%, 0.78);
  background-color: hsl(291, 65%, 68%);
}
.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}
.sound {
  padding: 0;
  border: none;
  background-color: rgb(245, 193, 254);
  padding: 0.9em 1em;
  border-radius: 8px;
  cursor: pointer;
}
.sound:hover {
  box-shadow: 0 0 12px 0 hsla(291, 65%, 60%, 0.78);
  background-color: hsl(0, 0%, 100%);
}

.sound img {
  display: block;
  width: 100%;
}

.intentos {
  font-size: 1.2rem;
  font-weight: 600;
}

.mensaje {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  pointer-events: none;
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.55);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.oculto {
  /* display: none; */
  opacity: 0;
  z-index: -1;
}
